*{
    margin: 0px;
    padding: 0px;
}
.App{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 30px;
}
.SearchForm-wrapper{
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100%;
}
.busqueda{
    width: 650px;
    display: flex;
    justify-content: center;
}

.control{
    width: 60%;
}

.busqueda .icono-search {
    color: #3c3737;
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 3px;
    padding-top: 10px;
    z-index: 1;
}

.busqueda .icono-search:hover{
    transform: scale(1.4);
    transition: 0.5s;
    cursor: pointer;
}


.busqueda .search{
    padding-left: 20px;
    padding-right: 40px;
}



.titleCategoria{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    color: rgba(51, 42, 42, 0.508);
    margin-top: 1em;
    text-align: left;
}
.titleCategoria .categoriaTitulo{
    margin: 0 auto;
    width: 80%;
}

.titleCategoria .raya{
    margin: 0 auto;
    margin-top: 5px;
    border: 0.1px solid rgb(0, 98, 175);
    width: 80%;
}