.container-miBiblioteca{
    margin-top: 90px;
}


.container-miBiblioteca .biblioteca{
    margin: 0 auto;
    width: 80%;
}

.container-miBiblioteca .biblioteca .raya {
    border: 1.5px solid rgb(0, 98, 175);
    padding-bottom: 0em;
    margin: 0.5em 0;
}

.favoritos-container{
    width: 80%;
    margin: 0 auto;
}

