.container-miBiblioteca{
    margin-top: 90px;
}


.container-miBiblioteca .biblioteca{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.container-miBiblioteca .biblioteca .ojo-icono{
    font-size: 3em;
}

.container-miBiblioteca .biblioteca .ojo-icono:active{
    color: rgba(1, 75, 150, 0.898);
    transform: scale(1.22);
    transition: 0.1s all ease;    
}

.container-miBiblioteca .biblioteca .raya {
    border: 1.5px solid rgb(0, 98, 175);
    padding-bottom: 0em;
    margin: 0.5em 0;
}

.container-miBiblioteca .lista{
    width: 60%;
    margin: 0 auto;
}
