*{
    box-sizing: border-box;
}
.LibrosList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.LibrosList-Item{
    
    width: 150px;
    min-height: 300px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .LibrosList-Item .card:hover{
    box-shadow: 3px 3px, -1em 0 0.4em;
} */

@media screen and (max-width: 1000px){
    .LibrosList-Item{
        width: 40%
    }

}
@media screen and (max-width: 600px){
    .LibrosList-Item{
        width: 90%
    }

}