.logo, .boton, .caja-combobox{
    text-align: center;
    margin-bottom: 1em;
}

.boton2{
    text-align: center;
}

.caja-login{
    margin: 60px auto;
    width: 40%
}

.alert-warning{
    display: none;
}

.alert-warning-active{
    display: block;
}


@media (max-width: 900px){
    .caja-login{
        width: 8 0%;
    }
}

@media (max-width: 800px){
    .caja-login{
        width: 90%;
    }
}